{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Minha Conta{% endblock %}

{% block main %}
    <ol class="breadcrumb">
        <li><a href="#">Início/</a></li>
        <li class="active">Minha Conta</li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="{% url 'accounts:index' %}" class="list-group-item">Minha Conta</a>
                <a href="{% url 'accounts:update_user' %}" class="list-group-item active">Alterar Dados</a>
                <a href="{% url 'accounts:update_password' %}" class="list-group-item">Alterar Senha</a>
            </div>
        </div>
        <div class="col-md-8">
            <h2>Alterar dados</h2>
            <br>
            <form class="form-horizontal needs-validation" method="POST" novalidate>
                    {% csrf_token %}
                    <fieldset>
            
                        {% for field in form %}
                            <div class="form-group{% if field.errors %} has-error{% endif %}">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="float-md-right">
                                            <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        {% render_field field class='form-control' %}
                                        <div class="invalid-feedback">
                                            Campo obrigatório.
                                        </div>
                                        {% for error in field.errors %}
                                            <span class="help-block">
                                                {{ error }} <br>
                                            </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
            
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-primary">Alterar</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
        </div>
    </div>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
        });
        }, false);
    })();
    </script>
{% endblock %} 

{% block footer %}{% endblock %}