{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Registro{% endblock %}

{% block main %}
<div class="page-header">
    <h1>Registro</h1>
</div>
<br>
    <form class="form-horizontal needs-validation" method="POST" novalidate>
        {% csrf_token %}
        <fieldset>

            {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="float-md-right">
                                <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            {% render_field field class='form-control' %}
                            <div class="invalid-feedback">
                                Campo obrigatório.
                            </div>
                            {% for error in field.errors %}
                                <span class="help-block">
                                    {{ error }} <br>
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
            }, false);
        });
        }, false);
    })();
    </script>


{% endblock %}

{% block footer %}                  
{% endblock %}